&i2c0 {
	status = "okay";
	ds3231: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;

		32k-gpios = <&gpio0 33 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		isw-gpios = <&gpio0 32 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

/ {
	chosen {
		zephyr,rtc = &ds3231;
	};
};
